@import "tailwindcss";
@import "tw-animate-css";

/* DMSans Font (Normal) */
@font-face {
  font-family: DMSans;
  font-style: normal;
  font-weight: 300 400 500 600 700;
  font-display: swap;
  src: url("./assets/fonts/DMSans.woff2") format("woff2");
}

/* DMSans Font (Italic) */
@font-face {
  font-family: DMSans;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/DMSans-Italic.woff2") format("woff2");
}

/* BricolageGrotesque Font */
@font-face {
  font-family: BricolageGrotesque;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/BricolageGrotesque.woff2") format("woff2");
}

/* Root variables */
:root {
  --dm-sans: "DMSans", system-ui;
  --bricolage-grotesque: "BricolageGrotesque", system-ui;

  --popover: ;
}

@theme {
  /* Fonts */
  --font-sans: var(--dm-sans);
  --font-heading: var(--bricolage-grotesque);

  /* Font weights */
  --font-bold: 700;
  --font-semibold: 600;
  --font-medium: 500;
  --font-regular: 400;
  --font-light: 300;

  /* Font sizes */
  --text-4xl: 6rem /* 96px */;
  --text-3xl: 3.25rem /* 52px */;
  --text-2xl: 2rem /* 32px */;
  --text-xl: 1.75rem /* 28px */;
  --text-lg: 1.25rem /* 20px */;
  --text-md: 1.125rem /* 18px */;
  --text-base: 1rem /* 16px */;
  --text-sm: 0.875rem /* 14px */;

  /* Line height */
  --leading-1: 100%;
  --leading-2: 120%;

  /* Letter spacing */
  --tracking-tight: -2px;
  --tracking-normal: 0em;

  /* Colors */
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-orange-500: hsl(28, 100%, 52%);
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);
  --color-red: hsl(0, 70%, 65%);

  /* Semantic colors */
  --color-background: var(--color-neutral-900);
  --color-accent: var(--color-blue-500);
  --color-secondary: var(--color-neutral-700);
  --color-popover: var(--color-neutral-800);
  --color-popover-foreground: var(--color-neutral-0);
  --color-border: var(--color-neutral-600);
  --color-muted: var(--color-neutral-300);
  --color-ring: var(--color-neutral-0);
  --color-destructive: var(--color-red);

  /* Shadows */
  --shadow-sm: 0 0.5rem 1rem 0 rgba(2, 1, 44, 0.32);
}

@layer base {
  body {
    min-height: 100dvh;
    font-family: var(--font-sans);
    font-size: var(--text-md);
    font-weight: var(--font-medium);
    line-height: var(--leading-2);
    letter-spacing: var(--tracking-normal);
    color: var(--color-neutral-0);
    background-color: var(--color-background);
  }
}

/* Utility classes for grid layouts */
@utility wrapper {
  width: 100%;
  max-width: 79rem; /* 1264px */
  margin-inline: auto;
}

@utility span-full {
  grid-column: 1 / -1;
}

/* Utility classes for flexbox layouts */
@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Utility classes for grid layouts with auto-fit columns */
@utility grid-cols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.75rem, 1fr));
}

@utility grid-cols-sm {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}

/* Utility for custom scrollbar */
@utility custom-scrollbar {
  scrollbar-width: 4px;
  scrollbar-color: var(--color-border) var(--color-popover);

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-popover);
    border-radius: 0.75rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
    border-radius: 0.75rem;
  }
}

/* Utility classes for typography*/
@utility text-preset-1 {
  font-size: var(--text-4xl);
  font-weight: var(--font-bold);
  font-style: italic;
  line-height: var(--leading-1);
  letter-spacing: var(--tracking-tight);
}

@utility text-preset-2 {
  font-family: var(--font-heading);
  font-size: var(--text-3xl);
  font-weight: var(--font-bold);
  line-height: var(--leading-2);
}

@utility text-preset-3 {
  font-size: var(--text-2xl);
  font-weight: var(--font-light);
  line-height: var(--leading-1);
}

@utility text-preset-4 {
  font-size: var(--text-xl);
  font-weight: var(--font-semibold);
}

@utility text-preset-5 {
  font-size: var(--text-lg);
  font-weight: var(--font-semibold);
}

@utility text-preset-6 {
  font-size: var(--text-md);
}

@utility text-preset-7 {
  font-size: var(--text-base);
  font-weight: var(--font-regular);
}

@utility text-preset-8 {
  font-size: var(--text-sm);
}
